@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	}
#all{
	width: 100%;
}
#nav{
	width: 100%;
	height: 100px;
	background-color: blue;

}
#d1{
	background-image:url('../img/io.png');
	background-position:center;
	background-size: cover;
	width:100px;
	height:100px;
	float: left;		
	top:0;
	letter-spacing: 20%;
 	z-index: 5;
}
ul{
	display: none;
	position:fixed;
	top:20px;
	right:20%;
	list-style:none;
	padding:2px;
	background-color:#BFB6B6;
	z-index: 5;

	
	}
#but{
		
		width: 100px;
		height: 60px;
		margin-top: 25vh;
		margin-left: 40%;
}
#a1{
	background-image:url('../img/aa01.jpg');
	background-size: cover;
	background-attachment:fixed;
	width:100%;	
	height:50vh;
	float: left;	
	

	
   	}
#a2{	

	float: right;	
	width:50%;
	height:50vh;
	background-image:url('../img/aa01-b.jpg');
	background-size: cover;
	background-attachment:fixed;
	
		
}
#b1{
	background-image:url('../img/aa02.jpg');
	background-size: cover;
	background-attachment:fixed;
	width:100%;	
	height:50vh;
	float: left;	
}
#b2{
	background-image:url('../img/aa02-b.jpg');
	background-size: cover;
	background-attachment:fixed;
	width:50%;	
	height:50vh;
	float: right;

}
#c1{
	background-image:url('../img/aa03.jpg');
	background-size: cover;
	background-attachment:fixed;
	width:	100%;	
	height:50vh;
	float: left;	
}
#c2{
	background-image:url('../img/aa03-b.jpg');
	background-size: cover;
	background-attachment:fixed;
	width:50%;	
	height:50vh;
	float: right;


}


